@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.banner-section {
    max-width: 1200px;
    max-height: 704px;
    margin: 0 auto;
}

.banner-nav-section {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-link {
    color: rgb(58, 58, 58);
    text-decoration: none;
    margin-right: 34px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.nav-head {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.description {
    max-width: 582px;
    max-height: 270px;
}

.camera {
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 475px;
    max-height: 475px;
}

.cam-description-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.description h1 {
    font-size: 3.3rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.description p {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.banner-btn {
    background-color: rgb(224, 44, 109);
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 16px;
}

.brand-logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1000px;
    max-height: 110px;
    margin: 85px auto 0px;
    padding: 20px 62px;
}

.brand-logo img {
    width: 65px;
    height: 65px;
}

.popular-collection {
    max-width: 1047px;
    max-height: 1662px;
    margin: 0 auto;
    margin-top: 110px;
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1047px;
    max-height: 1662px;
}

.collection {
    max-width: 295px;
    max-height: 476px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection img {
    width: 300px;
    height: 256px;
}

.collection-head {
    font-size: 1.1rem;
    font-weight: 600px;
    max-width: 276px;
    max-height: 60px;
    margin: 10px auto 30px;
}

.see-more{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.see {
    text-decoration: none;
    font-size: 0.8;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87); 
}

@media screen and (max-width:576px) {
    .banner-nav-section {
        flex-direction: column;
    }

    .nav-link {
        font-size: 0.8rem;
        font-weight: 500;
        margin-right: 25px;
    }

    .nav-head {
        text-align: center;
    }

    .icon-image {
        padding: 0 25px;
    }

    .cam-description-section {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .camera img {
        max-width: 257px;
        max-height: 257px;
    }

    .camera {
        background-size: cover;
    }

    .description {
        text-align: center;
    }

    .description h1 {
        font-size: 2rem;
    }

    .description p {
        font-size: 1.1rem;
        opacity: 0.9;
    }

    .brand-logo {
        max-width: 250px;
        max-height: 60px;
        margin-top: 30px;
        grid-template-columns: repeat(4, 1fr);
    }

    .brand-logo img {
        width: 60px;
        height: 15px;
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 40px;
    }
    .collection-head{
        font-size: 0.7rem;
        margin-left: 115px;
    }
    .see-more{
        margin-top: 2350px;
        margin-left: 315px;
    }
    .see{
        font-weight: 700;
    }
}